.idea/*
bin/default.profraw
bin/*.key
bin/*.work
!bin/testA.key
!bin/testA.work
!bin/testB.key
!bin/testB.work
!bin/testC.key
!bin/testC.work
!bin/testD.key
!bin/testD.work
bin/heminggs.sign
bin/vandycoin
bin/vandycoin.exe
bin/vandycoin.log
bin/testing
bin/testing.exe
!bin/test.*
!bin/*.json
build/
cmake-build-debug/
cmake-build-debug-coverage/
notes.txt
.DS_Store